/* Tailwind core */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Demos */
@import './mains/main.css';

/* Shadcn UI */
@import 'shadcn.ui';
@import './shadcn.ui.css';
