@mixin xs {
    @media (max-width: 300px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 639px) {
        @content;
    }
}

@mixin sm-detail {
    @media (max-width: 640px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin md-detail {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin lg-detail {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin xl {
    @media (max-width: 1279px) {
        @content;
    }
}

@mixin xl-detail {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin ie {
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        @content;
    }
}

$color-blue-primary:    #2d67ad;
$color-red-primary:     #ce4c4f;
$color-red-second:      #b8292d;
$color-text: #2a2a2a;

@mixin custom-scroll{
    & {
        scrollbar-width: thin;
        scrollbar-color: #D9D9D9;
    }

    &::-webkit-scrollbar-track {
        border: 1px solid white;
        background-color: #b2bec3;
    }

    &::-webkit-scrollbar {
        width: 3px;
        background-color: #dfe6e9;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c0bfbf;
    }
}