// Angular vendors
//@import "~prism-themes/themes/prism-shades-of-purple.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./core/vendors/plugins/prismjs";
@import "./core/vendors/plugins/formvalidation";
