.app-root, .custom-card {
    .ant-alert {
        padding: 3px 6px;
    }

    .ant-form-item {
        margin-bottom: 10px;

        .ant-col-24.ant-form-item-label {
            padding-bottom: 0;
        }
    }

    .ant-table.ant-table-small .ant-table-tbody > tr > td {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

.app-root, .ant-modal-body {
    .ant-spin-nested-loading > div > .ant-spin {
        max-height: none;
    }

    .ant-spin-nested-loading.custom-ant-spin > div > .ant-spin {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }
}

html {
    font-family: "arial", "Open Sans", Helvetica, "sans-serif" !important;
}
