.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-list.cdk-drop-list-dragging .custom-drag-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-list .custom-placeholder {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.transition-toolbar {
    transition: all 0.4s;
}


.btn-light-pink{
    background-color: #FF73E3;
    color: #ffffff;
    i{
        color: #ffffff;
    }
    &.btn:hover{
        background-color: #FF73E3;
        color: #ffffff;
    }
}
